<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <wsHttpBinding>
                <binding name="WSHttpBinding_IAdministrator" />
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8000/AirlineReservationService/AdministratorService"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IAdministrator"
                contract="AdministratorServiceReference.IAdministrator" name="WSHttpBinding_IAdministrator">
                <identity>
                    <dns value="localhost" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>